[Unit]
Description=Unified Remote Server
After=syslog.target network.target

[Service]
Environment="HOME=/opt/urserver"
Type=forking
PIDFile=/opt/urserver/.urserver/urserver.pid
ExecStartPre=-/bin/chmod 777 /var/run/sdp
ExecStart=/opt/urserver/urserver-start --no-manager --no-notify
ExecStop=/opt/urserver/urserver-stop

RemainAfterExit=no
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
